@charset "UTF 8";


/*Declaracoes Gerais*/
* {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

html, body {
	height: 100vh;
	weight: 100vw;
	background-color: darkgray;
	background-size: contain; /*o background-size : contain 
	mostra a imagem inteira nele sem ficar nenhuma parte fora*/
	background-repeat: no-repeat;
}	

h1 {
	color: white;
	text-shadow: 3px 3px 0px #233eff;
	text-align: center;
}

/*Declaracoes Retrato*/
@media screen and (orientation: portrait) {
	body {
 		background-image: url(../../imagens/cev-portrait.jpg);
 		background-position: center bottom; 
	}
}	

/*Declaracoes Paisagem*/
@media screen and (orientation: landscape) {
	body {
 		background-image: url(../../imagens/cev-landscape.jpg);
 		background-position: left bottom;
	}
}

